# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build output
# =========================
dist/
.angular/
coverage/

# =========================
# Git
# =========================
.git/
.gitignore

# =========================
# IDE
# =========================
.vscode/
.idea/
*.code-workspace

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log
*.tmp
*.cache