# =========================
# .NET / Backend
# =========================
bin/
obj/
logs/
*.log
*.user
*.rsuser
*.suo
*.txt

# =========================
# Angular / Frontend
# =========================
node_modules/
dist/
.angular/
coverage/

# =========================
# IDE / Editors
# =========================
.vs/
.vscode/
.idea/
*.code-workspace

# =========================
# Uploads
# =========================
**/uploads/

# =========================
# Misc
# =========================
*.tmp
*.cache