/* parent comment on replies page*/
.parent-comment {
    padding-bottom: 40px;
    border-bottom: 1px solid #e6dfdf;
}

.main-replies-page {
    max-width: 800px;
    margin: auto;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 70px;
}

.replies-container {
    padding-left: 60px;
}

@media (max-width: 480px){

    .replies-container {
        padding-left: 0px;
    }
}